body{
  text-align:center;
  background:#1c1c1c;
  color:#efefef;
}

.controlBox{
    padding:20px;
}

input[type=text]{
  color:#1c1c1c;
}

input[type=reset],
button{
  background:#efefef;
  color:#1c1c1c;
}

.sResultLink{
  display:block;
}

.sResultLink:focus .sResult{
  z-index: 2;
  box-shadow: 0 0 15px #3498db;
}


/*hide overflow to create same size gifs gallery*/
.sResult{
  overflow: hidden;
  padding:0;
  position:relative;
  height:200px;
  cursor:pointer;
}

/*center search results image*/
.sResult img{
		min-width:100%;
		max-width:none;
		margin:0 -100%;
}

/*makes loader behind images that are loading*/
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:90px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*expanded image*/
.fullScreen .sResult{
  top:0;
  padding:20% 0 0;
  position:absolute;
  width:100%;
  height:100%;
  z-index:2;
  background: rgba(20,20,20,0.9);
}


.fullScreen img{
  min-width:inherit;
}
